Songlist{text-align:center}
name{color:blue;font-size:20pt;font-weight:bold;background-color:white}
Artist{display:block;color:red}
{display:block;color:red}
Genre{display:block;color:red}
Release{display:block;color:red}